body{
    margin: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #697393;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: #222736;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
width: 100%;
padding: 20px;
font-size: 5rem;
text-align:left;
border:none;
background-color: #565963;
color:white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #D04848;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #de9191;
}
button:active{
    background-color: #e6bcbc;
}

.operator-btn{
background-color: #d7800e;
}
.operator-btn:hover{
    background-color: #e2ad67;
}
.operator-btn:active{
    background-color: #e0c7a7;
}